<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>IPBoard, the Inter-Planetary imageBoard</title>
  </head>
  <body>
    <div id="root">
      <app></app>
    </div>
  </body>
</html>