$fg: #c5c8c6;
$bg: #1d1f21;
$c0: #1d1f21;
$c1: #c66;
$c2: #b5bd68;
$c3: #f0c674;
$c4: #81a2be;
$c5: #b294bb;
$c6: #8abeb7;
$c7: #c5c8c6;
$c8: #969896;
$c9: #c66;
$c10: #b5bd68;
$c11: #f0c674;
$c12: #81a2be;
$c13: #b294bb;
$c14: #8abeb7;
$c15: #fff;
